div.keyword-countainer {
	padding-top: 5px;
}

div.feature-countainer {
	padding-top: 5px;
}

div.apk-file-info {
	padding-top: 10px;
}

.marginedinput {
	padding-top: 5px;
}

.screenshot-container {
	float: left;
	border: 1px solid gray;
	padding: 5px;
	margin: 10px;
}